GEMINI_API_KEY=
VITE_GOOGLE_CLIENT_ID=778831589513-isek2a84okfj9gl4ej1403rs8ha0oqji.apps.googleusercontent.com
VITE_API_URL=
VITE_SUPABASE_URL=https://ynkrgfvnfdudpkviaqtr.supabase.co
VITE_SUPABASE_ANON_KEY=

